.App {
  background-image: url('/background.png');
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.container {
  width: 40vw;
  height: 50vh;
  text-align: center;
  border: 1px solid darkgray;
  background-color: black;
  font-family: 'Courier New', Courier, monospace;
  color: green;
  font-weight: bold;
  font-size: 5vh;
}

.container-text {
  margin: 4vh 5vw;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.progressContainer {
  width: 100vw;
  max-height: 700px;
  overflow: hidden;
}

.progressBar {
  overflow: hidden;
  position: absolute;
  top: 80vh;
  width: 100vw;
  height: 20vh;
  background: rgb(2,0,36);
  background: linear-gradient(0deg, rgba(2,0,36,0) 0%, rgba(31,120,17,0.4654236694677871) 50%, rgba(52,209,3,0.7455357142857143) 100%);
  transition: linear;
  animation: moveGreenScanUp 7s;
  animation-delay: 0s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}

.progressBarDown {
  overflow: hidden;
  position: absolute;
  top: -50vh;
  width: 100vw;
  height: 20vh;
  background: rgb(2,0,36);
  background: linear-gradient(180deg, rgba(2,0,36,0) 0%, rgba(31,120,17,0.4654236694677871) 50%, rgba(52,209,3,0.7455357142857143) 100%);
  transition: linear;
  animation: moveGreenScanDown 7s;
  animation-delay: 2s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}

@keyframes moveGreenScanUp {
  0% {transform: translateY(20vh); }

  100% {transform: translateY(-100vh); }
}

@keyframes moveGreenScanDown {
  0% {transform: translateY(-50vh); }

  100% {transform: translateY(100vh); }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
